<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARJzwsFuF9hYIxAF8q4L-OIoEvN3YU8Mg</string>
	<key>GCM_SENDER_ID</key>
	<string>708288160410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saadLaabiActivity</string>
	<key>PROJECT_ID</key>
	<string>appactivity-99e1b</string>
	<key>STORAGE_BUCKET</key>
	<string>appactivity-99e1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708288160410:ios:c142bbe93163eabc2ff523</string>
</dict>
</plist>